h1, h2, h3 {
    text-align: center;
}

.allFilter {
    text-align: center;
}

#hgb {
    text-align: right;
    color: green;
}

#hbb {
    color: red;
}

.info_div {
    text-align: center;
    font-size: 16;
}


